.text {
    text-align: center;
    color: white;
    margin-top: 30px;
}

.mintext {
    text-align: center;
    color: darkgray;
}

body {
    background-color: black;
}

.tabl {
    text-align: center;
    color: white;
    background-color: darkgray;
    align-items: center;
    width: 15%;
    height: 200px;
    border: 20px;
    border-radius: 10%;
    margin: 5px;
}


.down{
    padding: 3%;
background-color: gray;
text-align: center;
color: white;
}